# DB_USER=usuario
# DB_PASSWORD=password
# DB_HOST=host   
# DB_PORT=puerto
# DB_NAME=nombrebd
# ALLOWED_ORIGINS=host
#GIN_MODE=release (se usa para prod)
#PEAK_AUTH_URL=URL_PEAK_AUTH
#PEAK_AUTH_CLIENT_SECRET=SECRET_ID
#PEAK_AUTH_CLIENT_ID=libreria-mariela