name: Test Self-Hosted Runner

on:
  push:
    branches: [main]

jobs:
  test-deploy:
    runs-on: [self-hosted, linux]

    steps:
      - name: Pull del último código
        run: |
          cd /srv/${{ secrets.PATH_TO_APPDATA }}/appdata/libreria-mariela-api
          git pull origin main